/* ####################
#######################
Main
######################
################### */

html {
  margin: -1%;
}

body {
  background-color: #313636;
  font-family: "Roberto";
}

/* ####################
#######################
navigation Menu
######################
################### */

.nav {
  display: flex;
  width: 100%;
  background-color: #484848;
}

.nav .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav .navbar h2 {
  color: white;
}

.nav .cart-nav {
  /* width: 10%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .navbar .shop {
  color: #FFE200;
}

.nav .cart-nav img {
  width: 20%;
}

.nav .cart-nav a {
  text-decoration: none;
  color: white;
}

/* ####################
#######################
Background Image
######################
################### */

.main img {
  width: 100%;
}

/* ####################
#######################
Items
######################
################### */

.items {
  width: 100%;
}

.items img {
  width: 30%;
  padding: 10px 20px 12px;
}

.items .itemimg {
  display: flex;
}


.items .pricetag {
  display: flex;
  justify-content: space-between;
  color:white ;
}

.items .pricetag p {
  color: #FFE200;
  font-size: 22px;
}

.items .names {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  width: 100%;
}

.items .names h2 {
  font-size: 35px;
}

.items .pricetag .button {
  background-color: #FFE200;
  border: 0;
  border-radius: 15px;
  width:18%;
  font-size: 18px;
  height: 60%;
}

@media screen and (max-width:450px) {
  .items .pricetag .button {
    font-size: 14px;
    width: 20%;
  }
  .items .names h2 {
    font-size: 23px;
  }
  
}

/* ####################
#######################
Footer
######################
################### */


footer {
  display: flex;
  background-color: #484848;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  font-size: 20px;
  color: #fff;
}
footer button {
  background-color: #FFE200;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 50px;
}

@media screen and (max-width:450px) {
  footer button {
    font-size: 20px;
  }
}