/* ####################
#######################
Main
######################
################### */

html {
  margin: -1%;
}

body {
  background-color: #313636;
  font-family: "Roberto";
}

/* ####################
#######################
navigation Menu
######################
################### */

.nav {
  display: flex;
  width: 100%;
  background-color: #484848;
  font-family: "Copperplate";
}

.nav .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav .navbar h2 {
  color: white;
}

.nav .cart-nav {
  /* width: 10%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .navbar .shop {
  color: #FFE200;
}

.nav .cart-nav img {
  width: 20%;
}

.nav .cart-nav a {
  text-decoration: none;
  color: white;
}

/* ####################
#######################
Background Image
######################
################### */

.main img {
  width: 100%;
}

/* ####################
#######################
Items
######################
################### */

.items {
  width: 100%;
}

.items img {
  width: 30%;
  padding: 10px 20px 12px;
}

.items .itemimg {
  display: flex;
}


.items .pricetag {
  display: flex;
  justify-content: space-between;
  color:white ;
}

.items .pricetag p {
  color: #FFE200;
  font-size: 22px;
}

.items .names {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  width: 100%;
}

.items .names h2 {
  font-size: 35px;
}

.items .pricetag .button {
  background-color: #FFE200;
  border: 0;
  width: 20%;
  font-size: 18px;
  height: 60%;
}

@media screen and (max-width:450px) {
  .items .pricetag .button {
    font-size: 14px;
    width: 30%;
  }
  .items .names h2 {
    font-size: 23px;
  }
  
}

/* ####################
#######################
Footer
######################
################### */


footer {
  display: flex;
  background-color: #484848;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  font-size: 25px;
  color: #fff;
  padding: 0 20px;
}

footer button {
  background-color: #FFE200;
  padding: 0px 30px;
  border: 0;
  font-size: 40px;
}

@media screen and (max-width:450px) {
  footer button {
    font-size: 20px;
  }
}

/* ####################
#######################
SIGN IN and SIGN UP
######################
################### */

.scroll {
  opacity: 0.3;
}

.bg {
  position: fixed;
  background-color: #495050;
  z-index: 1;
  width: 50%;
  height: 50%;
  margin: 0%;
  text-align: center;
  left: 25%;
  top: 20%;
  border-radius: 15px;
}

.bg .signin h2 {
  color: white;
  font-family: "Copperplate";
}

.bg .signin h1 {
  color: #FFE200;
  font-family: "Copperplate";
}

.bg .signin .shop {
  color: #FFE200;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  border-radius: 5px;
}

form button {
  background-color: #FFE200;
  border: none;
  border-radius: 10px;
}

form input {
  margin-bottom: 5px;
}

.bg .signin p {
  color: white;
}

.bg .signin .signinspan {
  color: #FFE200;
}

.bg .signin .spansignin {
  color: #FFE200;
}


/* ####################
#######################
Shipping
######################
################### */


.shipping {
  background-color: #FFE200;
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: 'Roboto';
}

.shipping h2 {
  color: #313636;
  padding: 60px;
}

.checkout {
  font-family: "roboto";
}

.checkout h3 {
  color: white;
  text-align: center;
}

.checkout h2 {
  color: #FFE200;
}

.checkout .total {
  display: flex;
  justify-content: space-around;
}

.checkout .total h2 {
  color: white;
}

.checkout .shiptag {
  display: flex;
  justify-content: space-around;
}

.checkout h4 {
  color: #FFE200;
}

.submission form {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  border-radius: 5px;
  font-family: "Roboto";
  border: none;
}

.submission form label {
  color: white;
  padding: 0 0 7px;
  margin-top: 5px;
}

.submission form input {
  width: 50%;
}